*.iml
.gradle/
**/.gradle/
build/
**/build/
/local.properties
/.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
.build-outputs/
hsperfdata_root/
3773034143099005931/
node-compile-cache/
run/
*.apk
*.aab
